{% extends 'base.html' %}

{% block content %}
<div class=" container mt-5">
  {% if payment_token %}
    <p> {{ payment_token }}</p>
  {% endif %}

  <div class="row row-cols-1 row-cols-md-4 g-4">
    {% for package in packages %}
    <div class="col">
      <div class="card h-100 py-3">
      <form action= {% url 'payments:pay' package.id %}  method='POST'>
        {% csrf_token %}
          <input type='hidden' name='product_id' value="{{package.id}}">
          <div class="card-body text-center">
            <h1 class='mb-3'><i class="bi bi-boxes"></i></h1>
            <h3>{{package.name}}</h3>
            <h1 class="display-4 fw-bold ">{{ package.monthly_price}}$<small class="h6">/ Month</small></h1>
            <h6 class="fw-bold ">{{ package.annual_price}}$ annually</h6>
            <div class='text-center px-4 mt-3 '>
              <button class="btn btn-success d-block w-100 mt-3 rounded-0 fw-bold py-1 ">Start Plan</button>
            </div>
            <div class='text-start mt-3'>
              {% for feature in package.features.all %}
                <span class="card-text d-block my-1"><i class="bi bi-check-lg"></i> {{ feature.title}}</span>
              {% endfor %}
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}